<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Master Study</title>

    <!-- BOOTSTRAP -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65"
      crossorigin="anonymous"
    />
    <!-- FONTAWESOME -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css"
      integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />

    <!-- LINK CSS -->
    <link rel="stylesheet" href="style.css" />

    <!-- LINK VUE -->
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>

    <!-- JAVASCRIPT -->
    <script type="text/javascript" src="./main.js" defer></script>
  </head>
  <body>
    <div id="app">
      <!-- HEADER -->
      <header>
        <!-- HEADER-UP -->
        <div class="header-up">
          <div class="d-flex justify-content-between" v-for="link in links">
            <ul>
              <li>{{link.language}}</li>
            </ul>

            <ul>
              <li v-for="item in link.link">{{item}}</li>

              <li><i v-for="icon in link.icons" :class="'fa' + icon"> </i></li>
            </ul>
          </div>
        </div>

        <!-- HEADER-BOTTOM -->
        <div class="header-bottom">
          <div class="d-flex gap-4" v-for="link in links">
            <img class="pe-5" :src="link.img" alt="" />

            <span class="pr">{{link.category}}</span>
            <div class="input-group mb-0">
              <input
                type="text"
                class="form-control"
                aria-label="Sizing example input"
                aria-describedby="inputGroup-sizing-default"
                placeholder="Search Courses"
              />
              <span class="input-group-text" id="inputGroup-sizing-default"
                ><i class="fa-solid fa-magnifying-glass"></i
              ></span>
            </div>
            <div class="job d-flex pe-5 ps-5 gap-5">
              <span v-for="job in link.job">{{job}}</span>
            </div>

            <div class="d-flex gap-5 login">
              <span><i class="fa-solid fa-user"></i>Log in</span>
              <button class="btn">SIGN UP</button>
              <span><i class="fa-solid fa-bookmark"></i></span>
            </div>
          </div>
        </div>
      </header>

      <!-- MAIN -->
      <main>
        <!-- PRIMA SECTION MAIN -->
        <section class="main-navbar d-flex justify-content-center gap-5">
          <span class="text-light fs-5" v-for="app in links[0].app"
            ><i :class="'fas' + appIcons[app]"></i>{{app}}
          </span>
        </section>

        <!-- JUMBOTRON -->
        <section class="slide-jumbo">
          <div class="container">
            <div class="row">
              <div class="col-6">
                <h2>Udemy affiliate Sales</h2>
                <p>
                  Monetize your audience and atract new costumers with Udemy!
                </p>
              </div>
              <div class="col-6">
                <img class="img-jumb" src="./img/slide-1.jpg" alt="" />
              </div>
            </div>
          </div>
        </section>

        <!-- DEVELOPMENT COURSES -->
        <section class="development-courses">
          <h3 class="mb-5">Popular Development Courses</h3>
          <div class="row">
            <div class="col-2">
              <img src="./img/895786_7b4b_2-272x161.jpg" alt="" />
              <div class="info-course">
                <small>Development ></small>
                <p>The Complete iOS 10 & Swift 3 Developer Course</p>
                <hr />
                <span class="valuation">
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-regular fa-star"></i>
                </span>
                <span class="price">$199.99</span>
                <span class="discounted-price">$100</span>
              </div>
            </div>
            <div class="col-2">
              <img src="./img/246154_d8b0_3-272x161.jpg" alt="" />
              <div class="info-course">
                <small>Development ></small>
                <p>Web Design for Beginners: Real World Coding in HTML & CSS</p>
                <hr />
                <span class="valuation">
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star-half-stroke"></i>
                </span>
                <span class="price">$129.99</span>
                <span class="discounted-price">$65</span>
              </div>
            </div>
            <div class="col-2">
              <img src="./img/752950_b773-272x161.jpg" alt="" />
              <div class="info-course">
                <small>Development ></small>
                <p>
                  GithHub Ultimate: Master Git and GitHub - Beginner to Expert
                </p>
                <hr />
                <span class="valuation">
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-regular fa-star"></i>
                </span>
                <span class="price">$99.99</span>
                <span class="discounted-price">$50</span>
              </div>
            </div>
            <div class="col-2">
              <img src="./img/1253188_58f7_2-272x161.jpg" alt="" />
              <div class="info-course">
                <small>Development ></small>
                <p>
                  The Complete iOS 11 & Swift Developer Course - Build 20 Apps
                </p>
                <hr />
                <span class="valuation">
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-regular fa-star"></i>
                </span>
                <span class="price">$199.99</span>
                <span class="discounted-price">$100</span>
              </div>
            </div>
            <div class="col-2">
              <img src="./img/919872_ed54_6-272x161.jpg" alt="" />
              <div class="info-course">
                <small>Development ></small>
                <p>Android Java Masterclass - Become an App Developer</p>
                <hr />
                <span class="valuation">
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star-half-stroke"></i>
                </span>
                <span class="price">$99.99</span>
                <span class="discounted-price">$50</span>
              </div>
            </div>
            <div class="col-2">
              <img src="./img/951684_9c1a_2-272x161.jpg" alt="" />
              <div class="info-course">
                <small>Development ></small>
                <p>Xamarin Forms: Build Native Cross-platform Apps with C#</p>
                <hr />
                <span class="valuation">
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-regular fa-star"></i>
                </span>
                <span class="price">$189.99</span>
                <span class="discounted-price">$95</span>
              </div>
            </div>
          </div>
        </section>

        <!-- ONLINE COURSES -->
        <section class="online-courses">
          <div class="container">
            <div class="row">
              <div class="col-6">
                <h2>Limitless learning, more possibilities</h2>
                <p>
                  Online courses open the opportunity for learning to almost
                  anyone, regardless of their scheduling commitments.
                </p>
                <button class="btn">READ MORE</button>
              </div>
            </div>
          </div>
        </section>

        <!-- RECENT COURSES -->
        <section class="recent-course">
          <h2 class="text-center mb-5 fs-1">Recent courses</h2>
          <ul class="d-flex justify-content-center">
            <li class="bg-gray">All Categories</li>
            <li>Business</li>
            <li>Design</li>
            <li>Development</li>
            <li>IT & Software</li>
            <li>Lifestyle</li>
            <li>Marketing</li>
            <li>Office Productivity</li>
          </ul>

          <div class="row">
            <div class="col-2">
              <img src="./img/895786_7b4b_2-272x161.jpg" alt="" />
              <div class="info-course">
                <small>Development ></small>
                <p>The Complete iOS 10 & Swift 3 Developer Course</p>
                <hr />
                <span class="valuation">
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-regular fa-star"></i>
                </span>
                <span class="price">$199.99</span>
                <span class="discounted-price">$100</span>
              </div>
            </div>
            <div class="col-2">
              <img src="./img/1561458_7f3b-272x161.jpg" alt="" />
              <div class="info-course">
                <small>Design ></small>
                <p>
                  CSS - The Complete Guide 2020 (incl. Flexbox, Grid & Sass)
                </p>
                <hr />
                <span class="valuation">
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star"></i>
                </span>
                <span class="price">$199.99</span>
                <span class="discounted-price">$100</span>
              </div>
            </div>
            <div class="col-2">
              <img src="./img/246154_d8b0_3-272x161.jpg" alt="" />
              <div class="info-course">
                <small>Development ></small>
                <p>Web Design for Beginners: Real World Coding in HTML & CSS</p>
                <hr />
                <span class="valuation">
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star-half-stroke"></i>
                </span>
                <span class="price">$129.99</span>
                <span class="discounted-price">$65</span>
              </div>
            </div>
            <div class="col-2">
              <img src="./img/1208228_d61c_4-272x161.jpg" alt="" />
              <div class="info-course">
                <small>Design ></small>
                <p>Digitally Painting Light and Color: Amateur to Master</p>
                <hr />
                <span class="valuation">
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star-half-stroke"></i>
                </span>
                <span class="price">$139.99</span>
                <span class="discounted-price">$70</span>
              </div>
            </div>
            <div class="col-2">
              <img src="./img/186792_41e4_4-272x161.jpg" alt="" />
              <div class="info-course">
                <small>Arts & Crafts ></small>
                <p>Become an Arabic Calligraphy Artist from Scratch</p>
                <hr />
                <span class="valuation">
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star-half-stroke"></i>
                </span>
                <span class="price">$99.99</span>
                <span class="discounted-price">$50</span>
              </div>
            </div>
            <div class="col-2">
              <img src="./img/1776542_30b1-272x161.jpg" alt="" />
              <div class="info-course">
                <small>Google ></small>
                <p>Google Searching Ninja!</p>
                <hr />
                <span class="valuation">
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star-half-stroke"></i>
                  <i class="fa-regular fa-star"></i>
                </span>
                <span class="price">$89.99</span>
                <span class="discounted-price">$45</span>
              </div>
            </div>
            <div class="col-2 mt-5">
              <img src="./img/949316_2a64_11-272x161.jpg" alt="" />
              <div class="info-course">
                <small>Arts & Crafts ></small>
                <p>Foundations for Marstering Watercolor Painting</p>
                <hr />
                <span class="valuation">
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star"></i>

                  <i class="fa-solid fa-star-half-stroke"></i>
                </span>
                <span class="price">$19.99</span>
                <span class="discounted-price">$10</span>
              </div>
            </div>
            <div class="col-2 mt-5">
              <img src="./img/366802_6fcc-272x161.jpg" alt="" />
              <div class="info-course">
                <small>Food & Beverage ></small>
                <p>Get Wine-Smart</p>
                <hr />
                <span class="valuation">
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-regular fa-star"></i>
                </span>
                <span class="price">$49.99</span>
                <span class="discounted-price">$25</span>
              </div>
            </div>
            <div class="col-2 mt-5">
              <img src="./img/381588_2e6d_4-272x161.jpg" alt="" />
              <div class="info-course">
                <small>Arts & Crafts ></small>
                <p>The Colored Pencil Drawing Course</p>
                <hr />
                <span class="valuation">
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-regular fa-star"></i>
                </span>
                <span class="price">$34.99</span>
                <span class="discounted-price">$18</span>
              </div>
            </div>
            <div class="col-2 mt-5">
              <img src="./img/838056_611a_3-272x161.jpg" alt="" />
              <div class="info-course">
                <small>Arts & Crafts ></small>
                <p>Paint Realistic Watercolor and Botanicals - STUDIO BASICS</p>
                <hr />
                <span class="valuation">
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-regular fa-star"></i>
                </span>
                <span class="price">$69.99</span>
                <span class="discounted-price">$35</span>
              </div>
            </div>
            <div class="col-2 mt-5">
              <img src="./img/1414956_d944_15-272x161.jpg" alt="" />
              <div class="info-course">
                <small>Arts & Crafts ></small>
                <p>Mastering Brushstrokes - Part 1</p>
                <hr />
                <span class="valuation">
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star"></i>
                </span>
                <span class="price">$19.99</span>
                <span class="discounted-price">$10</span>
              </div>
            </div>
            <div class="col-2 mt-5">
              <img src="./img/1109398_4c13-272x161.jpg" alt="" />
              <div class="info-course">
                <small>Arts & Crafts ></small>
                <p>Paint Realistic Watercolor and Botanicals - MAGNOLIAS</p>
                <hr />
                <span class="valuation">
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star"></i>
                </span>
                <span class="price">$69.99</span>
                <span class="discounted-price">$35</span>
              </div>
            </div>
          </div>
          <div class="text-center m-auto d-flex justify-content-center mt-5">
            <button class="btn-show">SHOW ALL</button>
          </div>
          <div class="d-flex flex-column gap-4 sidebar-options">
            <i class="fa-solid fa-tv"></i>
            <i class="fa-solid fa-wrench"></i>
            <i class="fa-solid fa-cart-shopping"></i>
            <i class="fa-solid fa-mobile-screen"></i>
            <i class="fa-solid fa-mobile-screen"></i>
          </div>
        </section>

        <!-- NEWSLETTER -->
        <section class="newsletter">
          <div class="container">
            <div class="row">
              <div class="col-6">
                <h3 class="text-white">Subscribe our newsletter</h3>
                <p class="text-white">
                  There are many variations of passages of Lorem Ipsum
                  available, but the majority have suffered alteration in some
                  form, by injected humour, or randomised words
                </p>
              </div>
              <div class="col-6">
                <p class="text-white ps-3">YOUR E-MAIL ADDRESS</p>
                <div class="input-group mb-0">
                  <input
                    type="text"
                    class="form-control"
                    aria-label="Sizing example input"
                    aria-describedby="inputGroup-sizing-default"
                    placeholder="Enter your E-mail"
                  />
                  <span
                    class="input-group-text subs"
                    id="inputGroup-sizing-default"
                    >SUBSCRIBE</span
                  >
                </div>
              </div>
            </div>
          </div>
        </section>

        <!-- POPULAR COURSES -->
        <section class="popular-courses">
          <h2 class="text-center fs-1">Popular courses</h2>
          <p class="text-center mb-5">
            Discover our most popular courses for self learning
          </p>
          <div class="row">
            <div class="col-2">
              <img src="./img/895786_7b4b_2-272x161.jpg" alt="" />
              <div class="info-course">
                <small>Development ></small>
                <p>The Complete iOS 10 & Swift 3 Developer Course</p>
                <hr />
                <span class="valuation">
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-regular fa-star"></i>
                </span>
                <span class="price">$199.99</span>
                <span class="discounted-price">$100</span>
              </div>
            </div>
            <div class="col-2">
              <img src="./img/1561458_7f3b-272x161.jpg" alt="" />
              <div class="info-course">
                <small>Design ></small>
                <p>
                  CSS - The Complete Guide 2020 (incl. Flexbox, Grid & Sass)
                </p>
                <hr />
                <span class="valuation">
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star"></i>
                </span>
                <span class="price">$199.99</span>
                <span class="discounted-price">$100</span>
              </div>
            </div>
            <div class="col-2">
              <img src="./img/246154_d8b0_3-272x161.jpg" alt="" />
              <div class="info-course">
                <small>Development ></small>
                <p>Web Design for Beginners: Real World Coding in HTML & CSS</p>
                <hr />
                <span class="valuation">
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star-half-stroke"></i>
                </span>
                <span class="price">$129.99</span>
                <span class="discounted-price">$65</span>
              </div>
            </div>
            <div class="col-2">
              <img src="./img/1208228_d61c_4-272x161.jpg" alt="" />
              <div class="info-course">
                <small>Design ></small>
                <p>Digitally Painting Light and Color: Amateur to Master</p>
                <hr />
                <span class="valuation">
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star-half-stroke"></i>
                </span>
                <span class="price">$139.99</span>
                <span class="discounted-price">$70</span>
              </div>
            </div>
            <div class="col-2">
              <img src="./img/186792_41e4_4-272x161.jpg" alt="" />
              <div class="info-course">
                <small>Arts & Crafts ></small>
                <p>Become an Arabic Calligraphy Artist from Scratch</p>
                <hr />
                <span class="valuation">
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star-half-stroke"></i>
                </span>
                <span class="price">$99.99</span>
                <span class="discounted-price">$50</span>
              </div>
            </div>
            <div class="col-2">
              <img src="./img/1776542_30b1-272x161.jpg" alt="" />
              <div class="info-course">
                <small>Google ></small>
                <p>Google Searching Ninja!</p>
                <hr />
                <span class="valuation">
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star-half-stroke"></i>
                  <i class="fa-regular fa-star"></i>
                </span>
                <span class="price">$89.99</span>
                <span class="discounted-price">$45</span>
              </div>
            </div>
            <div class="input-controls text-center m-auto d-flex justify-content-center mt-5">
              <div class="prev"> < </div>
              <div class="next"> > </div>
            </div>
        </section>

        <!-- TEACHING -->
        <section class="teaching">
          <div class="row">
            <div class="col-6 instructor">
              <img src="./img/image_box_1-221x231.png" alt="">
              <div class="info-instructor">
                <h2 class="pb-2">Become an Instructor</h2>
                <p class="pb-4">Teach what you love. Masterstudy gives you the tools to create a course.</p>
                <button class="btn">START TEACHING</button>
              </div>
            </div>
            <div class="col-6 business">
              <img src="./img/image_box_2-234x231.png" alt="">
              <div class="info-business">
                <h2 class="pb-2">Acces For Business</h2>
                <p class="pb-4">Get unlimited access to 2,500 of top courses for your team.</p>
                <button class="btn">DOING BUSINESS</button>
              </div>
            </div>
          </div>
        </section>

        <!-- FUTURE -->
        <section class="future">
          <div class="container">
            <div class="row">
              <div class="col-6 interview">
                <h2 class="pb-3">Investing for Your Future</h2>
                <p class="pb-3 fs-5">It is not exaggeration to say this MasterStudy experience was transformative-both professionally and personally. This workshop will long remain a high point of my life. Thanks again... i am feeling energized and eager to start teaching my class next week. I can't wait to use all of my new teaching tools. I will absolutely recommend this workshop to other educators!</p>
                <h3 class="fs-6 mb-0">Linda Green</h3>
                <small>Product Manager, Apple Inc</small>
                <i class="fa-solid fa-play arrow"></i>
              </div>
            </div>
          </div> 
        </section>

      </main>

      <!-- FOOTER -->
      <footer>
        <div class="footer-up">
          <div class="container"
          >
            <div class="row">
              <div class="col-3">
                <h3>ABOUT</h3>
                <p>Sed nec felis pellentesque, lacinia dui sed, ultricies sapien. Pellentesque orci lectus, consectetur vel, rutrum eu ipsum, Mauris accumsan eros eget libero posuere vulputate.</p>
              </div>
              <div class="col-3">
                <h3>CONTACT</h3>
                <p class="mb-4">USA, California 20, First Avenue, California</p>
                <p>Tel:+1 212 458 300 32</p>
                <p class="mb-3">Fax:+1 212 375 24 14</p>
                <a class="text-muted master" href="#">info@masterstudy.com</a>
              </div>
              <div class="col-3 icon-footer ">
                <h3>SOCIAL NETWORK</h3>
                
                  <i class="fa-brands fa-facebook fb circle mb-2"></i>
                  <i class="fa-brands fa-instagram ig circle mb-2"></i>
                  <i class="fa-brands fa-linkedin linkedin circle mb-2"></i>
                  <i class="fa-brands fa-pinterest pint circle mb-2"></i>
                  
                
                
                  <i class="fa-brands fa-twitter twitter circle"></i>
                  <i class="fa-brands fa-dribbble dribble circle"></i>
                  <i class="fa-brands fa-google-plus google circle"></i>
                  <i class="fa-brands fa-skype twitter circle"></i>

               
              </div>
              <div class="col-3" v-for="link in links2">
                <img class="w-100" :src="link.img" alt="">
              </div>
            </div>
          </div>
        </div>

        <div class="footer-bottom d-flex">
          <div class="container">
            <img class="mt-4 logo-footer" src="./img/footer-logo2x-50x56.png" alt="">
            <p class="text-white mb-0">Copyright 2020. <a class="text-white" href="#">MasterStudy.</a> Theme by <a class="text-white" href="#"> StylemixThemes</a> </p>

          </div>
        </div>
      </footer>
    </div>
  </body>
</html>
