/* HEADER */

/* HEADER-UP */

.header-up {
  color: lightslategray;
  padding-top: 20px;
  border-bottom: 1px solid lightslategray;
  padding-left: 60px;
  padding-right: 120px;
}

ul {
  list-style: none;
}

ul li {
  display: inline;
  margin-left: 25px;
}

/* HEADER-BOTTOM */

.header-bottom {
  padding-top: 30px;
  padding-bottom: 30px;
  vertical-align: middle;
  position: relative;
  padding-left: 120px;
  padding-right: 120px;
}

.input-group {
  width: 500px;
  margin-left: 20px;
  max-height: 50px;
}
.form-control {
  background-color: hsl(216deg 20% 95%);
  border: none;
}

.input-group-text {
  width: 50px;
  background-color: hsl(200deg 36% 42%);
  color: white;
}

.btn,
.btn:hover {
  background-color: hsl(356deg 100% 63%);
  color: white;
  border-radius: 25px;
  padding: 15px 30px;
  position: relative;
  bottom: 15px;
}

.job {
  position: relative;
  top: 15px;
}

.login {
  position: relative;
  top: 15px;
}

.pr {
  position: relative;
  top: 15px;
}

/* MAIN */

/* PRIMA SECTION */

.main-navbar {
  background-color: hsl(221deg 27% 21%);
  padding-top: 25px;
  padding-bottom: 25px;
  margin-bottom: 30px;
}

/* JUMBOTRON */

.slide-jumbo {
  background-color: #ff4450;
  margin-bottom: 60px;
}
.slide-jumbo h2 {
  color: white;
  padding-top: 90px;
  font-size: 56px;
}

.slide-jumbo p {
  color: white;
  font-size: 26px;
}

/* DEVELOPMENT COURSES */

.info-course {
  border: 1px solid lightslategray;
  padding-left: 25px;
  padding-right: 25px;
  max-width: 272px;
  padding-top: 10px;
  max-height: 190px;
}

.info-course p {
  font-size: 15px;
  padding-top: 10px;
}

.info-course small {
  color: lightgray;
}

.valuation {
  color: goldenrod;
  padding-right: 40px;
}

.price {
  display: flex;
  position: relative;
  left: 165px;
  bottom: 35px;
  color: lightslategray;
  text-decoration: line-through;
  font-size: 14px;
}

.discounted-price {
  position: relative;
  left: 180px;
  bottom: 40px;
}

.development-courses {
  padding-left: 120px;
  padding-right: 60px;
  margin-bottom: 100px;
}

/* ONLINE COURSES */

.online-courses {
  background-image: url(./img/bg.png);
  background-repeat: repeat;
  height: 550px;
  margin-bottom: 100px;
}

.online-courses h2 {
  padding-top: 130px;
  padding-bottom: 20px;
  font-size: 52px;
}

.online-courses p {
  padding-bottom: 30px;
  font-size: 22px;
}
